#report_table_body td, #report_table_body th{
    padding: 0.3rem;
    padding-left: 8px;
    font-size: small;
    border-bottom: 1px solid #f1f1f1;
}
#report_table_body th{
    background-color: #fff;
}

#report_table_body tr:hover, #report_table_body th:hover{
    background-color: #bad6f873;
  }