#column_checkbox{
    min-width: 250px;
    overflow-y: scroll;
    overflow-x: visible;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 5px;
}

#column_checkbox div{
    margin-top: 3px;
}

#column_checkbox div label{
    padding: 0.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#column_checkbox div label span{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}