.checkbox_container {
    min-width: 250px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 0.25rem;
}

.checkbox_container div {
    margin-top: 3px;
}

.checkbox_container div label {
    padding: 0.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox_container div label span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}