#search_checkboxes{
    border: 1px solid;
    min-width: 350px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    overflow-x: visible;
    padding: 0.5rem;
}

#search_checkboxes div label{
    padding: 0.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;

}

#search_checkboxes div label span{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}