html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
   
}

#table_container {
    display: flex;
}

#main_container {
    display: flex;
    overflow: scroll;
}

.main_container_header {

    display: flex;
    align-items: center;
    height: 30px;
    width: 200px;
    background-color: #f1f1f1;
    font-weight: bold;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.main_container_header_text {
    flex-grow: 1;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resize_div {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30px;
    height: 100%;
    cursor: ew-resize;
}

.resize_btn {
    width: 5px;
    height: 15px;
    background-color: rgb(133, 133, 133);
    border-radius: 10px;
}

.main_container_body {
    border: 1px solid;
    height: 1500px;
}