.main_container{
    display: flex;
}

#report_table {
    border: 1px solid;
    width: 100vw;
    overflow-x: scroll;
    padding: 10px;
}

#report_table table {

    width: 100%;
    table-layout: fixed; /* Important for resizing columns */
}

#report_table th, #report_table td {
    padding: 8px;
    text-align: left;
    position: relative; /* Needed for resizer handle */

    /* 👇 Add these lines for ellipsis effect */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
}


#report_table th{
    background-color: #f1f1f1;
}

#report_table th .resizer {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
    width: 5px;
    height: 50%;
    background-color: rgb(133, 133, 133);
    cursor: col-resize;
    user-select: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

