.main_container {
    display: flex;
    margin-top: 10px;
    height: 100%;
    flex: 1;
}

#report_table {
    overflow-x: scroll;
}

#report_table table {
    width: 100%;
    table-layout: fixed;

    border-spacing: 0px;
}

#report_table th,
#report_table td {
    padding: 8px;
    text-align: left;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
}

thead{
    background-color: #f1f1f1;
}


#report_table th, #report_table_header {
    background-color: #f1f1f1;
}

#report_table th .resizer {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(50%);
    width: 5px;
    height: 50%;
    background-color: rgb(133, 133, 133);
    cursor: col-resize;
    user-select: none;
    border-radius: 10px;
}

.column_row label {
    display: flex;
    cursor: pointer;
}