.table_container{
    width: 100%;
}

.table_header{
    display: flex;
    padding: 2px;
    position: sticky;
    top: 0;
    background-color:  #eeeff1;

}

.table_row{
    display: flex;
}

.table_row div{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: small;
}


.resize_div{
    display: flex;
    width: 10px;
    height: 100%;
    justify-content: end;
}

.header_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 3px;
}

.resize_btn{
    position: relative;
    width: 6px;
    height: 20px;
    background-color: #cacaca;
    border-radius:3px;
    border: 0px;
    cursor: ew-resize;
}

.table_content > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_column{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #f1f1f1;

}

.table_column div{
    padding-left: 5px;
}

.end_columnd{
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    flex-grow: 1;
}

.body_containerr{
    display: flex;
    justify-content: space-between;
    width: 99vw;
}

#balance_sheet_checkbox{
    min-width: 250px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 0.25rem;
}
#balance_sheet_checkbox div{
    margin-top: 3px;
}

#balance_sheet_checkbox div label{
    padding: 0.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#balance_sheet_checkbox div label span{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table_column:hover{
    background-color: #e3efff;

}
.table_row:hover{
    background-color: #e3efff;
}

#talve_totoal_result{
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}