.additional_cahs_gl_accounts_checkbox_label{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 1px;
}

.additional_cahs_gl_accounts_group{
    border: 1px solid;
    flex-grow: 1;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.additional_cahs_gl_accounts_group_input_field{
    height: 150px;
}

.gl_account_search_div {
    width: 100%;
}
.gl_account_search_input_div{
    border: 1px solid;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    margin-bottom: 2px;
}

.gl_account_search_div input[type="text"] {
    width: 98%;
    border: none;
    outline: none;
}