:root {
    --bs-gutter-x: 1.5rem; /* or 32px, etc. */
    --bs-body-font-size: 1rem;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_search_container {
    width: 70vw;
    height: 70vh;
    background-color: white;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
}

.custom_search_container_header {
    display: flex;
    flex-grow: 1;
}

.custom_search_container_body {
    display: flex;
    flex-grow: 2;
    width: 100%;
    padding: 1px;
    flex-direction: column;
}

.input_group {
    display: flex;
    width: 100%;
    border: 1px solid;
}

.input_group input{
    height: 2.35rem;
}

.input_field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    font-family: inherit;
    min-width: 200px;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    color: #637989;
    
}

.properties_input {
    display: flex;
    width: 100%;
    border: 1px solid;
    display: table-column;
}

.input_column {
    border: 1px solid;
}

