:root {
    --bs-badge-padding-x: 0.375rem;
    --bs-badge-padding-y: 0.25rem;
}

.properties_selector {
    border: 1px solid;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
}

.properties_selector input {
    width: 100%;
}

#properties_selector_options {
    cursor: pointer;
}

#properties_selector_options :hover {
    background-color: blueviolet;
    color: white;
}

.selected_properties_box {
    background-color: #eeeff1 !important;
    display: flex;
    border-radius: 0.33rem;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
}

.selected_properties {
    width: 95%;
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    cursor: pointer;
}

#properties_selector_options div {
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
}